@import "mixins.scss";

////colors

a {
  background-color: color(magenta);
}

//////mixins

@include countdownText(
  /*countdown+*/ "Wrapper :global .txt",
  $font-size: 24px,
  $color: null /*type null to erase default value*/
);

////absolutePosition

.countdownWrapper {
  @include absolutePosition(100px, 200px);
}

////Automatic centering

.countdownWrapper {
  @include center-auto();
}

////emptyPseudo

div::after {
  @include emptyPseudo;
  top: -1rem;
  right: -1rem;
  width: 1rem;
  height: 1rem;
}

////media mixin #2

.transition {
  transition: all 0.3s;
}
body {
  @include media(
    (
      margin: "11px 0",
      width: 90%,
      height: (
        all: 110px,
        500-200: 100%,
        sm: 50%,
        548: 10%,
        print: 10cm,
      ),
           // 500-200 = @media only screen and (max-width: 3
           // all: 110px = body {height: 1
      font-size:
        (
          sm: 12px,
        ),
      extend: ".transition",
           // it will take styles from .trans
      transform:
        (
          lg: rotate(45deg),
        ),
      background: (
        lg: url("../images/pic.png") center center/cover no-repeat,
        sm-lg: url("../images/pic1.png") center center/cover no-repeat,
      ),
    )
  );
}

.countdownWrapper {
  @include size(1rem, 3rem);
}

.countdownWrapper {
  @include placeholder-color();
}
